<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <title>{%block title%}Home{%endblock%}</title>
    
        {%block style%}
        
        {%endblock%}
    
</head>
<body>
    <div class="container">
        <h2 class="text-center alert alert-danger shadow-lg p-2 my-1  rounded">CRUD Application</h2>
        
           
            {%block content%}

            {%endblock%}
   
    </div>

    {%block script%}
      <script src="{% static 'js/jquery.js'%}"></script>
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
    {%endblock%}
</body>
</html>